@import "./../app.scss";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block-start: 5em;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    font-family: "Kdam Thmor Pro", sans-serif;
    background-color: $gray5;
  }

.introline {
  color: white;
  font-size: 3.25rem;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 3rem;
}

.btn {
  width: 220px;
    height: 50px;
  border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: medium;
    margin-bottom: 4000px;
}

.btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: linear 20s glowing infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

.btn:active {
  color: #000
}

.btn:active:after {
  background: transparent;
}

.btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}